In [2]:
import psycopg2

In [10]:
conn = psycopg2.connect(
    host = 'localhost',
    dbname = 'cskdb',
    user = 'csk',
    password = 'csk123',
    port = 5432
)
cur = conn.cursor()

In [11]:
cur.execute("CREATE TABLE IF NOT EXISTS mensagem (id serial PRIMARY KEY, prioridade integer, titulo varchar, corpo varchar);")

In [12]:
cur.execute("INSERT INTO mensagem (prioridade, titulo, corpo) VALUES (%s, %s,%s)", (100, "Yuri's", "Minha mensagem"))

In [13]:
conn.commit()
cur.close()
conn.close()

In [15]:
import psycopg2
import datetime
conn = psycopg2.connect(
    host = 'localhost',
    dbname = 'cskdb',
    user = 'csk',
    password = 'csk123',
    port = 5432
)
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS chat (id serial PRIMARY KEY, prioridade integer, texto varchar, criada date, atualizada date);")
cur.execute("""INSERT INTO chat (prioridade, texto, criada, atualizada)
VALUES (%(numprioridade)s, %(msg)s, %(data)s, %(data)s);""",
    {'numprioridade': 10, 'msg': "Olá, tudo bem?", 'data': datetime.date(2020, 8, 5)})
conn.commit()

In [16]:
dados = [
    {'numprioridade': 15, 'msg': "Tudo bem e você?", 'data': datetime.date(2020, 7, 6)},
    {'numprioridade': 5, 'msg': "Estou bem também, obrigado.", 'data': datetime.date(2020, 7, 6)},
    {'numprioridade': 100, 'msg': "Não esqueça de fazer os questionários da disciplina", 'data': datetime.date(2020, 7, 6)},
]

cur.executemany("""
INSERT INTO
    chat
    (prioridade, texto, criada, atualizada)
VALUES
    (%(numprioridade)s, %(msg)s, %(data)s, %(data)s);
""", dados)
conn.commit()

In [17]:
cur.execute('SELECT * FROM chat')
for k in cur:
    print(k)

(1, 10, 'Olá, tudo bem?', datetime.date(2020, 8, 5), datetime.date(2020, 8, 5))
(2, 15, 'Tudo bem e você?', datetime.date(2020, 7, 6), datetime.date(2020, 7, 6))
(3, 5, 'Estou bem também, obrigado.', datetime.date(2020, 7, 6), datetime.date(2020, 7, 6))
(4, 100, 'Não esqueça de fazer os questionários da disciplina', datetime.date(2020, 7, 6), datetime.date(2020, 7, 6))

In [18]:
cur.execute('SELECT * FROM chat WHERE prioridade <= 10')
for k in cur:
    print(k)

(1, 10, 'Olá, tudo bem?', datetime.date(2020, 8, 5), datetime.date(2020, 8, 5))
(3, 5, 'Estou bem também, obrigado.', datetime.date(2020, 7, 6), datetime.date(2020, 7, 6))

In [19]:
cur.execute('SELECT * FROM chat')
print("rowcount", cur.rowcount) # número de registros da última consulta
print(cur.description) # Uma série de meta informações de cada coluna da última consulta

rowcount 4
(Column(name='id', type_code=23), Column(name='prioridade', type_code=23), Column(name='texto', type_code=1043), Column(name='criada', type_code=1082), Column(name='atualizada', type_code=1082))

In [25]:
for i in cur.description:
    print(i)

Column(name='id', type_code=23)
Column(name='prioridade', type_code=23)
Column(name='texto', type_code=1043)
Column(name='criada', type_code=1082)
Column(name='atualizada', type_code=1082)